{%extends 'base.html'%}
{%load urlify%}



{%block head_title%}{{instance.title}} | {{block.super}}{%endblock head_title%}



{%block content%}
<div class="col-sm-12">

    <h1>{{ title }} <small>{%if instance.draft%} <span style="color: red;"> Draft </span>{%endif%}{{instance.publish}}</small> </h1>



    {%if instance.image%}
    <img src="{{instance.image.url}}" class="img-fluid">
    <p>Author: {{instance.user}}</p>
    {%endif%}
    <p><div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></p>
<!--<p>-->
    <!--<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">Facebook</a>-->

    <!--<a href="https://twitter.com/home?status={{request.build_absolute_uri}}">Twitter</a>-->

    <!--<a href="https://plus.google.com/share?url={{request.build_absolute_uri}}">Google+</a>-->

    <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{request.build_absolute_uri}}">LinkedIn</a>-->
<!--</p>-->

<div class="row">
<div class="col-sm-10">
{{ instance.content|linebreaks }}

<hr>
<br><br>
<div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
</div>
</div>
</div>
{%endblock content%}